<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Order Entry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/tone.css"> 
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css"> 
</head>
<body>

<body>
    <div class="mainContainer">
        <div id="uploads"></div>
        <div class="dropzone" id="dropzone">Drop File Here</div>
        <p id="out"></p>
        <p id="err"></p>
        <table>
            <tbody id="tableOut">
                <tr>
                </tr>
            </tbody>
        </table>
        <div id="submitForm"></div>

    </div>
    <script src="/main.js" charset="utf-8"></script>
</body>
</html>