#main-container {
    
    margin: 0 auto;
    margin-top: 20px;
}
.mainTable{
    margin: 0 auto;
}
#tableSearch{
    width: 200px;
    height:20px;
}
.infoRow:hover{
    background-color: bisque;

}
.button-xsmall {
    font-size: 70%;
}