table,
td {
    border: 1px solid #333;
}

body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    width: 900px;
    }
#mainTable{
    margin: 0 auto;
    
}
#headTable{
    text-align: center;
    width: 880px;
    margin: 0 auto;
    color:black;
    border: 2px solid black;
}

#headTable th{
    text-align: center;
    background-color: white;
    border: 1px solid rgb(168, 168, 168);
}
#maintable th{
    background-color: bisque;
}
@page {
    margin: 0.5cm;
    }